HUCEAdmin/Connected Services/sv1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tk" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mk" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:FunctResult_ettOftbl_TaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FunctResult_ettOftbl_TaiKhoan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrCode" type="tns:EnumErrCode" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:tbl_TaiKhoan" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EnumErrCode">
        <s:restriction base="s:string">
          <s:enumeration value="Error" />
          <s:enumeration value="Fail" />
          <s:enumeration value="Success" />
          <s:enumeration value="InvalidInput" />
          <s:enumeration value="NotYetLogin" />
          <s:enumeration value="EmptyData" />
          <s:enumeration value="ExistentUnique" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="tbl_TaiKhoan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaiKhoan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Is_Login" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LastEditBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastEditDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Is_Delete" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MaNhomQuyen" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tk" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogoutResult" type="tns:FunctResult_ettOftbl_TaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tk" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="tns:FunctResult_ettOfListOftbl_TaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FunctResult_ettOfListOftbl_TaiKhoan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrCode" type="tns:EnumErrCode" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfTbl_TaiKhoan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTbl_TaiKhoan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tbl_TaiKhoan" nillable="true" type="tns:tbl_TaiKhoan" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tk" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataByIDResult" type="tns:FunctResult_ettOftbl_TaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search_Paging">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tk" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search_val" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="data_type" type="tns:EnumDataType" />
            <s:element minOccurs="1" maxOccurs="1" name="crr_page" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="page_size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="EnumDataType">
        <s:restriction base="s:string">
          <s:enumeration value="Ma" />
          <s:enumeration value="TaiKhoan" />
          <s:enumeration value="All" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Search_PagingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Search_PagingResult" type="tns:FunctResult_ettOfListOftbl_TaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tk" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:tbl_TaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="tns:FunctResult_ettOftbl_TaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Edit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tk" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:tbl_TaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditResult" type="tns:FunctResult_ettOftbl_TaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tk" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="tns:FunctResult_ettOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FunctResult_ettOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrCode" type="tns:EnumErrCode" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataByID" />
  </wsdl:message>
  <wsdl:message name="GetDataByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataByIDResponse" />
  </wsdl:message>
  <wsdl:message name="Search_PagingSoapIn">
    <wsdl:part name="parameters" element="tns:Search_Paging" />
  </wsdl:message>
  <wsdl:message name="Search_PagingSoapOut">
    <wsdl:part name="parameters" element="tns:Search_PagingResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="EditSoapIn">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="EditSoapOut">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByID">
      <wsdl:input message="tns:GetDataByIDSoapIn" />
      <wsdl:output message="tns:GetDataByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search_Paging">
      <wsdl:input message="tns:Search_PagingSoapIn" />
      <wsdl:output message="tns:Search_PagingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input message="tns:EditSoapIn" />
      <wsdl:output message="tns:EditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByID">
      <soap:operation soapAction="http://tempuri.org/GetDataByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_Paging">
      <soap:operation soapAction="http://tempuri.org/Search_Paging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByID">
      <soap12:operation soapAction="http://tempuri.org/GetDataByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_Paging">
      <soap12:operation soapAction="http://tempuri.org/Search_Paging" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap12:operation soapAction="http://tempuri.org/Edit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44369/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44369/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>